@import '../variables';

.checkout {

   width: 740px;
   margin: auto;
   padding: 4rem 1rem 1rem;

   @media (max-width: 768px) {
      padding-top: 2.5rem;
   }
   @media (max-width: 540px) {
      padding-top: 1.25rem;
   }

   .page-title {
      font-size: 1.875rem;
      text-align: center;
      margin-bottom: 4rem;
      font-weight: $font-weight-bold;
   }

   .card {
      flex-direction: row;
      border: 0;
      border-radius: 0;
      border-bottom: 2px solid #d8d8d8;
      padding-bottom: 22px;
      margin-bottom: 22px;

      .card-img-top {
         border-radius: 5px;
         width: 110px;
         height: 66px;
      }

      .card-body {
         text-align: left;
         padding: 0 0 0 40px;
         display: flex;
         justify-content: space-between;

         .top {

            .card-title {
               font-size: 1rem;
               font-weight: $font-weight-bold;
               margin-bottom: 1rem;
            }

            .price {
               display: none;
            }
         }

         .right {
            text-align: right;

            .price {
               font-size: 1.375rem;
               font-weight: $font-weight-bolder;
               margin-bottom: 5px;
            }

            .remove {
               border: 0;
               padding: 0;
               color: #CF1C1C;
            }
         }

         .add-to-cart {
            display: none;
         }
      }
   }

   .total {
      display: flex;
      justify-content: space-between;
      font-size: 2rem;
      font-weight: $font-weight-bold;

      .price {
         color: $primary;
         font-weight: $font-weight-bolder;
      }
   }
}
