$font-family-sans-serif: "Proxima Nova" !default;

$font-weight-lighter: 400 !default;
$font-weight-light: 400 !default;
$font-weight-normal: 500 !default;
$font-weight-bold: 600 !default;
$font-weight-bolder: 700 !default;

// $card-columns-gap: .75rem !default;
$card-spacer-x: 1rem !default;

// $card-padding: $card-spacer-x;

$primary: #28057F;
$secondary: #B52F8F;
$body-color: #3c3c3c !default;
